@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #f1f1f1; 
   color: #0f141e;
   
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing:auto;
  font-weight: 500;
  font-style:normal;
  font-variation-settings:
    "wdth" 500;
  

}

a {
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:active{
  color:rgb(25, 77, 219);
}

a:visited{
  color:gray;
}

.avatar {
  width: 400px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0 ,0.25, 0.5);
}

.info{
  margin-bottom: 20px;
  display: flex;
}

@media (max-width: 750px) {
  .info{
    display: block;
    text-align:center;

  }
}

.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight:bold;
  text-decoration: none;
  /* text-transform: uppercase;   */
  /* letter-spacing: 1px; */
  /* word-spacing: 2px; */
}

/* Box Model */
.container {
max-width: 850px;  
margin:auto;
padding-top: 10px;
}


/* .social {
background: greenyellow;
padding:15px;
padding: 15px 20px 25px 30px;
border: 5px solid black;
margin: 5px;
border-bottom-style:dotted;
border-top-width: 10px;
border-right-color: gray;
} */


form{
  max-width: 850px;
  margin:0 auto;
}


/* .box-model > div {
  float: left;
  background: #0f141e;
  height: 200px;
  width: 25%;
  border: 4px solid green;
  box-sizing:border-box;
} */

.bg-yellow{
  background: #fff9dc;
}

.bg-green{
  background: #e5ffe7;
}

.bg-red{
  background: #ffe5e5;
}

.info {
  margin-bottom: 20px;
}


.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 25px;
}

.card h2{
  margin-bottom: 10px;
}

.list {
  padding-left: 20px;
  padding-right: 20px;
}

.list li {
  color:#86898f;
  margin-bottom: 10px;
}

.table{
  width: 100%;
}

table td {
  padding-bottom: 20px ;
}

.table td:nth-child(1), .table td:nth-child(2), .table td:nth-child(3) {
color:#084d27
}

.table tr:nth-child(even){
  background-color: #25e27a42;
}

.table tr:nth-child(odd){
  background-color: #25e27a8e;
}


.contact h2{
  text-align: center;
}

.form-group label {
display: block;
font-size: 14px;
color: gray;
}

.form-group input, textarea {
  margin:auto;
  width: 100%;
  box-sizing:border-box;
  border:none;
  background: transparent;
  border-bottom: 3px solid #ccc;
  color:black;
  padding: 15px 0px 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom:20px;

}

.row > .form-group {
  width:50%;
  margin-right:20px;
}

.row > .form-group:last-child {
  margin-right:0;
}

.info-text{
  margin-left:40px;
}

.info-text h4{
  margin-bottom: 10px;
}

.form-button{
  font-weight:600;
  color:white;
  background: black;
  width:25%;
  padding-top: 10px;
  padding-bottom:10px;
  border-radius: 20px;
  margin-top:10px;
  font-family: inherit;
}

.form-button:hover {
  background-color: #25e27a8e;
  color:black;
  
}

/* position */

/* .position{
  position: relative;
  border:4px solid black;
  margin-top:40px;
  padding: 20px;
  height: 300px;

}

.box{
position: fixed;
top:0;
width:100%;


height: 50px;
background: yellowgreen;
} */